<register-student [students]="students" [vaccinationOptions]="vaccinationOptions"
  (addStudentEvent)="addStudent($event)">
</register-student>

<student-table [students]="students" (enrollStudentEvent)="enrollStudent($event)"
  (deleteStudentEvent)="deleteStudent($event)" (uploadFile)="handleExcelUpload($event)">
</student-table>

<app-student-list [students]="students" [vaccinationOptions]="vaccinationOptions"
 (enrollStudentEvent)="enrollStudent($event)" (deleteStudentEvent)="deleteStudent($event)">
</app-student-list>

<div *ngIf="alertMessage" class="alert alert-fixed-bottom" [ngClass]="'alert-' + alertType" role="alert">
  {{ alertMessage }}
</div>
