::ng-deep .mat-column-name {
  width: 50px; /* Adjust width as needed */
}

mat-header-cell, mat-cell {
  padding: 8px; /* Adjust padding for better spacing */
}

.studentTable{
  padding: 18px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;

  mat-form-field {
    min-width: 200px;
    flex: 1;
  }

  .filter-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.importExportBtns{
  display: flex;
  gap: 8px;
}
