<mat-toolbar color="primary">
  <span class="title">{{ title }}</span>

  <button
    mat-button
    routerLink="/dashboard"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Dashboard
  </button>

  <button
    mat-button
    routerLink="/students-information"
    routerLinkActive="active-link"
  >
    Students
  </button>

  <button
    mat-button
    routerLink="/drives-information"
    routerLinkActive="active-link"
  >
    Drives
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
